<section class="vh-100" style="background-image: url('https://static.vecteezy.com/system/resources/previews/004/338/537/original/modern-abstract-background-minimalist-dynamic-fluid-shape-blue-and-orange-vector.jpg');">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-flex justify-content-center align-items-center">
                    <img src="https://media.licdn.com/dms/image/C5622AQEe8Pd-Q7u3jg/feedshare-shrink_800/0/1643716330782?e=2147483647&v=beta&t=jP0tZfWnZCnOJsr_7ETfNSbbnD76_EvWGMY8u89h8Kw"
                      alt="login form" class="img-fluid logo" />
                  </div>
                  
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez-vous à votre compte</h5>
  
                    <div class="form-outline mb-4">
                      <input type="text" id="login" class="form-control form-control-lg" />
                      <label class="form-label" for="login">Login</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="mdp" class="form-control form-control-lg" />
                      <label class="form-label" for="mdp">Mot de passe</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-custom btn-lg btn-block" type="button">Connexion</button>
                    </div>
  
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>