<app-navbar-admin></app-navbar-admin>
<section class="vh-100 blurred-background">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Création qcm</h5>

                  <div class="form-outline mb-4">
                    <input type="text" id="question" class="form-control form-control-lg" />
                    <label class="form-label" for="question">Question</label>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="row">
                      <div class="col-9">
                        <input type="text" id="rep1" class="form-control" />
                        <label class="form-label" for="rep1">Réponse</label>
                      </div>
                      <div class="col-3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="valid1" />
                          <label class="form-check-label" for="valid1">Valide</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <div class="row">
                      <div class="col-9">
                        <input type="text" id="rep2" class="form-control" />
                        <label class="form-label" for="rep2">Réponse</label>
                      </div>
                      <div class="col-3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="valid2" />
                          <label class="form-check-label" for="valid2">Valide</label>
                        </div>
                      </div>
                    </div>
                  </div><div class="form-outline mb-4">
                    <div class="row">
                      <div class="col-9">
                        <input type="text" id="rep3" class="form-control" />
                        <label class="form-label" for="rep3">Réponse</label>
                      </div>
                      <div class="col-3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="valid3" />
                          <label class="form-check-label" for="valid3">Valide</label>
                        </div>
                      </div>
                    </div>
                  </div><div class="form-outline mb-4">
                    <div class="row">
                      <div class="col-9">
                        <input type="text" id="rep4" class="form-control" />
                        <label class="form-label" for="rep4">Réponse</label>
                      </div>
                      <div class="col-3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="valid4" />
                          <label class="form-check-label" for="valid4">Valide</label>
                        </div>
                      </div>
                      <div class="pt-1 mb-4">
                        <button class="btn btn-custom btn-lg btn-block" type="button">Ajouter qcm</button>
                      </div>
                      <div class="pt-1 mb-4">
                        <button class="btn btn-custom btn-lg btn-block" type="button">Accueil</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




